body{
	background-color: black;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}

.leftdiv{float: left; padding:1%;
color: rgb(255, 255, 255);
background-color: rgb(43, 97, 197);
width: 30%;
border: solid black;}

.middlediv{float:left; padding:1%;
color: rgb(255, 255, 255);
background-color: rgb(43, 97, 197);
width: 30%;
border: solid black;}

.rightdiv{float:left; padding:1%;
color: rgb(255, 255, 255);
background-color: rgb(43, 97, 197);
width: 30%;
border: solid black;}

a{color: yellow;}

header{
	display: flex;
	width:90%;
	height: 10vh;
	margin:auto;
	align-items: center;
}

.logo-container,
.introduction,
.presentation,
.nav-links{
	display: flex;
}

.logo-container{
	flex:1;
}
img{
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

nav{
	flex:2;
}
.nav-links{
	justify-content: space-around;
	list-style:none
}
.nav-link{
	color: #fdfdfd;
	font-size: 18px;
	text-decoration:none;
}

.presentation{
	display:flex;
	width:90%;
	margin:auto;
	min-height: 80vh;
	align-items: center;
}

.introduction{
	flex:1;
}


.intro-text h1{
	font-size: 90px;
	font-weight: 500;
	background: linear-gradient(to right, #b6b6c8,#6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.intro-text p{
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
	
}

.select{
	padding: 50px 0px 0px 0px;
	
}

.select1{
	background:transparent;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: solid rgb(43, 97, 197);
	color: white;
	margin: 30px 0px 0px 30px;
}

.select2{
	background: rgb(43, 97, 197);
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.bird{
	flex:1;
	display: flex;
	justify-content: center;
	height: 60vh;
}

.bird img{
	height:100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
